.container{
  background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
  background-size: cover;
  color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: 300px;
  height: 300px;

}
.wrap{
  width: 300px;
  margin: 100px auto;
}

*{
  font-family: 'Stylish', sans-serif;
}